{% load chogori_tag %}

<header class="header">
    <div class="container-fluid px-lg-5">
        <nav class="py-2">
            <div id="logo">
                <h1> <a href="#" class="editContent" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 30px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">Чогори</a></h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-1">
                <li class="active">
                    <a href="/">Главная</a>
                </li>
                <li>
                    <label for="drop-2" class="toggle">Категории <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                    <a href="#">Категории <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        {% get_categories as categories %}
                        {% for category in categories %}
                            <li><a href="/">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="#" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вход</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="banner-info">
    <p class="editContent" >Сайт для путишествий</p>
    <h3 class="mb-2 editContent">Походы в горы мира</h3>
    <h3 class="mb-2 editContent">труляля</h3>
    <div class="ban-buttons">

    </div>
</div>